.container {
    /*flex-direction: row;*/
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
}


.title {
    max-width: 300px;
}

.animation {
    height: 180px;
    margin-top: -40px;
    width: auto;
}
